body {
  margin: 0%;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

img {
  width: 100%;
  max-width: 1024px;
}

label {
  vertical-align: top;
}

input {
  vertical-align: top;
}
