body {
  margin: 0%;
}

main {
}

.row {
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

img {
  max-width: 100%;
}

label {
  vertical-align: top;
}

input {
  vertical-align: top;
}
