/* consistent style with my portfolio */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/*light mode is default */
:root {
  background-color: white;
  color: black;
}
/* dark mode flips bg and text colors */
.darkMode {
  background-color: black;
  color: white;
}
/* consistent style with my portfolio */
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background: cadetblue;
  color: black;
}
header span {
  display: flex;
  justify-content: right;
}
.toggle {
  margin: 10px 100px;
}
/* button color matches hero picture */
button {
  background-color: rgb(198, 52, 209);
  color: rgb(71, 37, 71);
  font-size: 24px;
}
body {
  margin: 0;
  font-size: 24px;
}
