* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background: cadetblue;
  color: black;
}

header span {
  display: flex;
  justify-content: right;
  background-color: yellow;
}

header button {
  display: inline-block;
}

body {
  margin: 0;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 24px;
}

.darkMode {
  background-color: black;
  color: white;
}
